/* Bordered form */
form {
    border: 3px solid transparent;
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 10px !important;
    border-radius: 5px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  .register-container1 {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 15px;
    width: 50%;
     
}

.register-wrap{
display: flex;
align-items: center;
    justify-content: center; 
}

.container5.mt-5 {
  background-color:#e2ebec;
  border-radius: 5px;
  padding: 20px;
  border-radius: 15px;
    box-shadow: 26px 26px 40px #cbced1, -26px -26px 40px #fff;
  width: 940px;
}
.login-img{
  justify-content: center;
  align-items: center;
  display: flex;
}

.custom-icon {
    font-size: 50px;
align-items: center;
}

.u-icon {
    width: 80px;
    margin: auto;
}

.login-container1 {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 15px;
  width: 80%;
}