 /* Style the outer container */
.container1 {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the inner container with a margin from the top */
.container5.mt-5 {
  background-color: #f7f8c1;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 940px;
}

/* Style the form elements */
.form-group {
  margin-bottom: 20px;
}

/* Style the email input field */
.form-control[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style the password input field */
.form-control[type="password"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style the remember me checkbox */
.form-check-input[type="checkbox"] {
  margin-right: 10px;
}

/* Style the login button */
.btn-warning {
  background-color: #ff9800;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-warning:hover {
  background-color: #ffca2c;
}

/* Add some spacing to the remember me text */
.remembermargin {
  margin-left: 5px;
}

/* Style the Sign In heading */
.signin-text {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Style the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-control{
  height: 55px !important;
}